:root{
    --offBlack: #333;
    --white: #ffffff;
    --yellow: #d9a405;
    --blue: #007bff;
    --green: #01b101;
    color: var(--white);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
    
body {
    background-color: var(--offBlack);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 90px;

}

.square {
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 33%;
    text-align: center;
    font-size: 80px;
    margin: none;
    padding: none;
}

div#square-1, div#square-4, div#square-7 {
border-right: 1px solid var(--white);
border-left: 1px solid var(--white);
}

div#square-3, div#square-4, div#square-5 {
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
}

button, input {
font-size: 25px;
border-radius: 10px;
padding: 8px;
}

.controls, .message {
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.start-button {
    background-color: var(--green);
    color: var(--white);
}

.restart-button {
    background-color: var(--yellow);
    color: var(--white);
}

.new-game-button {
    background-color: var(--blue);
    color: var(--white);
}